<section class="navbar">
  <a class="navbar--link" href="/">
    Survey
  </a>
  <a class="navbar--link" href="/about">
    About
  </a>
  <a class="navbar--link navbar--link__hide-mobile" href="https://github.com/chen-robert">
    Github
  </a>
</section>