<section class="navbar" style="<%= informal? 'display: none;': '' %>">
  <a class="navbar--link" href="/">
    Survey
  </a>
  <a class="navbar--link" href="https://github.com/chen-robert/ee-survey/blob/master/README.md" target="_blank">
    About
  </a>
  <a class="navbar--link navbar--link__hide-mobile" href="https://github.com/chen-robert" target="_blank">
    Github
  </a>
</section>