<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EE Survey</title>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/main.js"></script>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <% include ../partials/navbar %>
    <section class="survey">
      <p class="survey--title">Which audio sample sounds more like classical music?</p>
      <% samples.forEach(sample => { %>
        <div class="panel">
          <form class="hidden" method="POST" action="/vote">
            <input name="name" value="<%= sample.name %>">
          </form>
          <audio href="<%= sample.url %>">
        </div>
      <% }) %>

    </section>
  </body>
</html>
