@import "config";
@import "navbar";
@import "chat";

.survey{
  padding: 50px;
  padding-top: 150px;
  padding-bottom: 0 !important;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  opacity: 1;
  transition: opacity 3000ms;

  &.hide {
    opacity: 0.001;
  }
}

.survey--title {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
}

.survey--subtitle {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin: 15px 0;
}

.panel--container {
  margin: 25px 0;
}

.panel {
  flex: 1;
  text-align: center;
  margin: 20px;
  padding: 20px;
  
  background-color: #eee;

  transition-duration: @quick-animation-duration;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(68, 68, 68, 0.6);

  &:not(.disabled):hover {
    box-shadow: 0 1px 1px rgba(68, 68, 68, 0.6);
    background-color: darken(#eee, 5%);
    transform: translateY(2px);
  }
}

.panel.disabled {
  box-shadow: none;
  color: #999;
  cursor: default;
}

.hidden {
  display: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-style: inherit;
  font-family: 'Cutive Mono', monospace;
}

@media only screen and (max-device-width: 480px) {
  .survey {
    padding: 15px;
  }

  .panel--container {
    margin: 5px 0;
  }
}
